<div id="home" class="content has-bg home" data-scrollview="true">

    <div class="content-bg jarallax" style="background-image: url(assets/images/voidless/backgrounds/voidless-bg.jpg);">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>

    <div class="container home-content">

        <div class="row justify-content-sm-center">
            <div class="col-sm-8 col-md-6">
                <img src="assets/images/voidless/games/theforgotten_onelinesmall_white.png" class="img-responsive" alt=""/><br>
            </div>
        </div>

        <p class="lead">
            The Forgotten Void has been officially released on Steam!
        </p>
        <a href="https://store.steampowered.com/app/600290/The_Forgotten_Void/" target="new" class="btn btn-pop btn-danger">
            <i class="fab fa-fw fa-steam-symbol"></i>
            Check it out on Steam
        </a>
        <a href="#games" data-click="scroll-to-target" class="btn btn-pop btn-indigo">
            <i class="fa fa-fw fa-info"></i>
            See more info
        </a>

    </div>

</div>
